[color]
    diff = auto
    status = auto
    branch = auto
[user]
    name = Titome
    email = github@timotheegirard.com
[alias]
    ci = commit
    co = checkout
    st = status
    br = branch
[push]
    default = simple
